<div class="row">
  <form>
    <fieldset>
        {{view Ember.TextField valueBinding='handle' name='handle' viewName='handleField' classNames="handle form-control"}}
      <a href='#' class="form-submit btn btn-block btn-lg btn-primary" {{action save}}>Go</a>
    </fieldset>
  </form>
</div>
