<div class="container">
  <div class="index-title">
    <h1>Welcome to SaidIt</h1>
    <a id="how-it-works-btn" class="btn btn-default btn-sm btn-block">How it works</a>
  </div>

  {{partial 'tweeters/form'}}
</div>
