<div class="container">
  {{#view SaidIt.showView}}
    {{#if stillLoading}}
      {{partial loading}}
    {{else}}
      <h3>Showing sentiment for {{handle}}'s {{tweets.length}} most recent tweets:</h3>
      {{#view SaidIt.chartView}}
        <div id="sentiment_barchart"></div>
      {{/view}}
      <br/>
      {{#link-to 'tweeters.new' classNames="btn btn-primary btn-lg btn-block"}}
        Back
      {{/link-to}}
    {{/if}}
  {{/view }}
</div>
