<div id="how_it_works">
  <h6>Enter any existing twitter handle to get a breakdown of their 20 most recent tweets by expressed emotion. Go ahead... try it...</h6>
  {{#view SaidIt.detailCloseView}}
    <a class="btn btn-primary btn-sm btn-block" href="#">Collapse</a>
  {{/view}}
</div>
