<div id="how_it_works">
  <p>Enter any existing twitter handle to get a breakdown of their 20 most recent tweets by expressed emotion. Go ahead... try it...</p>
  {{#view SaidIt.detailCloseView}}
    <a class="btn btn-default btn-sm btn-block" href="#">Collapse</a>
  {{/view}}
</div>
